@font-face {
  font-family: "TTLakes";
  src: url("../fonts/TTLakes-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "TTLakes";
  src: url("../fonts/TTLakes-Bold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "TTLakes";
  src: url("../fonts/TTLakes-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: 2px solid #3698FB;
}

body {
  overflow-anchor: none;
  margin: 0;
  font-family: "TTLakes", sans-serif;
  color: #1B1C21;
  background-color: #FFFFFF;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.btn--reset {
  padding: 0;
  font-family: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  margin: 0;
  padding: 18.59px 18.59px;
}

.header__upper-menu {
  display: flex;
  justify-content: space-between;
}

.upper-menu__left,
.upper-menu__right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.upper-menu__btn {
  width: 40px;
  height: 40px;
}

.upper-menu__btn-call,
.upper-menu__btn-chat,
.upper-menu__btn-profile {
  display: none;
}

.upper-menu__btn-burger {
  background: center/cover no-repeat url("../img/burger.svg");
}

.upper-menu__btn-call {
  background: center/cover no-repeat url("../img/call.svg");
}

.upper-menu__btn-chat {
  background: center/cover no-repeat url("../img/chat.svg");
}

.upper-menu__btn-profile {
  background: center/cover no-repeat url("../img/profile.svg");
}

.upper-menu__btn-profile {
  background: center/cover no-repeat url("../img/profile.svg");
}

.upper-menu__btn-repair {
  background: center/cover no-repeat url("../img/repair.svg");
}

.upper-menu__btn-checkstatus {
  background: center/cover no-repeat url("../img/checkstatus.svg");
}

.upper-menu__left {
  gap: 20px;
}

.upper-menu__left-splitter {
  display: none;
}

.upper-menu__right-splitter {
  position: relative;
  padding: 0 2px;
  height: 32px;
}

.upper-menu__right-splitter::before {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  width: 2px;
  height: 32px;
  background-color: #EAEAEA;
}

.services {
  margin: 0;
  padding-top: 24px;
  background-color: #F8F8F8;
}

.services-header {
  margin-bottom: 24px;
}

.services-header__title {
  position: relative;
  margin-bottom: 24px;
  font-size: 28px;
}

.services-header__btn {
  margin-right: 8px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.2px;
  line-height: 24px;
}

.services-header__btn-container {
  display: none;
}

.services-header__btn-wrapper {
  display: flex;
  align-items: center;
  margin-right: 32px;
}

.services-header__list {
  display: flex;
  overflow: hidden;
  scrollbar-width: none;
}

.services-header__item {
  padding: 9px 18px;
}

.services-header__item--active {
  padding: 7px 20px;
  background-color: #FFFFFF;
  border: 2px solid #B8FFEC;
  border-radius: 6px;
}

.services-header__link {
  display: block;
  width: 100%;
  white-space: nowrap;
  font-size: 16px;
}

.services-description__box {
  margin-bottom: 16px;
}

.services-description__text {
  margin-bottom: 16px;
  max-height: 90px;
  overflow: hidden;
}

.services-description__par {
  margin-top: 0;
  margin-bottom: 26px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
}

.services-description__read-more {
  padding-left: 25px;
  background: left/24px no-repeat url("../img/expand.svg");
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.2px;
  line-height: 24px;
}

.services-description__img {
  border-radius: 6px;
  transform: translateX(-16px) scaleX(1.2);
}

@media (min-width: 1120px) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
    max-width: 1180px;
  }

  .header {
    display: none;
  }

  .services-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 16px;
    padding-top: 42px;
  }

  .services-header__title::before {
    left: -30px;
  }

  .services-header__title {
    margin-top: 0;
    margin-bottom: 8px;
  }

  .services-header__btn-container {
    display: flex;
  }

  .services-header__list {
    flex-wrap: wrap;
  }

  .services-description__box {
    width: 50%;
  }

  .services-description__text {
    max-height: 160px;
  }
}

@media (min-width: 768px) {
  .container {
    padding-right: 24px;
    padding-left: 24px;
  }

  .upper-menu__btn-call,
  .upper-menu__btn-chat,
  .upper-menu__btn-profile {
    display: block;
  }

  .upper-menu__left-splitter {
    position: relative;
    display: block;
    height: 32px;
  }

  .upper-menu__left-splitter::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
  }

  .services-header {
    margin-bottom: 32px;
  }

  .services-header__title::before {
    left: -24px;
  }

  .services-description {
    display: flex;
    justify-content: space-between;
  }

  .services-description__box {
    margin-bottom: 14px;
    width: 43%;
  }

  .services-description__text {
    max-height: 160px;
  }

  .services-description__par {
    line-height: 20px;
  }

  .services-description__img {
    width: 50%;
    transform: none;
  }
}

@media (max-width: 1120px) {
  li:first-child {
    display: none;
  }

  li:nth-child(2) {
    padding: 7px 20px;
    background-color: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
  }
}
